* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

html {
	width: 100vw;
	height: 100vh;
	background-color: #fff8dc;
}

.header-container {
	width: 100%;
	height: 90px;
	background-color: black;
	padding-left: 15px;
	display: flex;
	align-items: flex-end;
}

.header-container>p {
	color: white;
	text-align: left;
	font-size: 38px;
	font-weight: 600;
}

body {
	height: 100%;
}

.main-container {
	height: calc(100% - 90px);
	width: 100%;
	padding: 18px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	grid-auto-rows: minmax(250px, 330px);
	justify-items: center;
	align-items: center;
	position: relative;
}

.book-card {
	width: clamp(250px, 20%, 280px);
	height: clamp(200px, 15%, 280px);
	background-color: white;
	color: black;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	border-radius: 4%;
}

.book-card h2 {
	text-align: center;
}

.new-book-button {
	width: 120px;
	height: 60px;
	font-size: 20px;
	border: none;
	background-color: black;
	color: white;
	font-weight: 600;
	border-radius: 5%;
	cursor: pointer;
	position: fixed;
	bottom: 10%;
	right: 10%;
}

.dialog-container {
	width: 500px;
	height: 600px;
	position: relative;
	margin-left: -250px;
	margin-top: -300px;
	top: 50%;
	left: 50%;
	padding: 15px;
	border-radius: 2%;
	flex-direction: column;
	align-items: center;
}

.dialog-container>h1 {
	text-align: center;
}

.dialog-container>form {
	height: 60%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.dialog-container>form>input {
	height: 30px;
	font-size: 18px;
	padding-left: 5px;
}

.delete-button {
	background-color: black;
	color: white;
	font-weight: 500;
	border: none;
	height: 15%;
	width: 40%;
	cursor: pointer;
}
